body{
    background-color: #F1F1F1;
    width: auto;
    margin: 0;
    padding: 0;
}

.visualcontent {
    width: 687px;
    height: 458px; 
    margin-left: 80px;
}

.main{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-top: 110px; 
    margin-right: 47px;
}

.main_text_header{
    width: 495px; 
    height: 192px; 
    font-size: 54px; 
    font-family: 'Kanit'; 
    margin-left: 80px;
    width: 495px;
}

.main_text{
    width: 495px; 
    height: 44px; 
    font-size: 16px; 
    font-family: 'Inter'; 
    margin-left: 80px; 
    width: 495px;
}

.list-item {
    list-style-type: none;
    margin-left: 30px;
    font-size: 14px; 
    font-family: 'Inter';
    line-height: 18px;
}

.list-itemss{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
}

.button {
    background-color: rgba(8, 30, 52, 0,12);
    margin-left: 30px;
    outline: none;
}

.button2{
    background-color: #712FFF;
    margin-left: 80px;
    font-family: 'Inter';
    font-size: 14px;
    width: 144px;
    height: 50px;
    border-radius: 100px;
    color: white;
}

.background_blog{
    background-color: #E1DEE7; 
    margin-top: 74px; 
    border-radius: 32px; 
    height: 562px;
}

.blog{
    display: flex; 
    justify-content: space-around; 
}

.blog_header{
    font-weight: 400px; 
    font-size: 12px; 
    margin-bottom: 0px; 
    margin-top: 54px;
}
.blog_text{
    font-family: 'Inter'; 
    font-size: 24px; 
    margin-bottom: 0px; 
    margin-top: 48px;
    margin-left: 0px;
}

.blog_text1{
    font-family: 'Inter'; 
    font-size: 16px; 
    margin-top: 24px;
    margin-left: 0px;
}

.blog_text2{
    font-weight: 700px; 
    font-size: 54px; 
    font-family: 'Kanit'; 
    margin-top: 12px;
}

.blog_img{
    height: 64px;
    margin-left: 0px;
}

.button3{
    background-color: #712FFF;
    background-image: url(./assets/Upward\ Arrow.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 16px;
    margin-left: 80px;
    font-family: 'Inter';
    font-size: 14px;
    width: 144px;
    height: 50px;
    border-radius: 100px;
    color: white;

}

.header{
    margin-left: 80px;
    font-size: 54px;
    font-family: 'Kanit';
    margin-top: 100px;
}
.text{
    margin-left: 80px;
    margin-top: 32px;
    font-family: 'Inter';
    font-size: 16px;
    width: 495px;
}

.input {
    background-image: url(./assets/Search.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 13px;
    padding-left: 37px;
    margin-left: 80px; 
    width: 619px; 
    height: 24px; 
    border-radius: 12px; 
    padding-left: 30pxs;
    font-size: 16px;
}
.blog_input{
    display: flex; 
    align-items: baseline;
}

.blog1{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-top: 110px; 
    margin-right: 47px;
}
 .blog1_img{
    width: 700px;
    height: 466.67px;
 }
 .blog1_text{
    width: 500px; 
    height: 56px; 
    font-size: 54px; 
    font-family: 'Kanit'; 
    margin-left: 87px;
 }

 .blog1_text1{
    width: 495px; 
    height: 44px; 
    font-size: 16px; 
    font-family: 'Inter'; 
    margin-left: 87px;
 }
.basement {
    background-color: #FFFFFF;
    margin-top: 44px;
    width: 1440px;
    height: 172px;
    border-radius: 32px 32px 0px 0px;
}

